<h1>Welcome to our Forum</h1>
<h2>Last published cars</h2>
<div id="last-cars">
</div>

<h2>Last published posts</h2>
<div id="last-posts">
</div>

<!--{{#each this}}
    <div class="small-car-container">
        <img class="small-car-picture" src={{#if Picture}}"{{picture}}"{{else}}"./images/car.jpg"{{/if}}>
        <h3><a href="#/cars/{{Id}}">{{Make}} {{Model}}</a></h3>
        <div class=small-car-info>
            <span><strong>Year:</strong> {{Year}}<span>
            <span><strong>Engine:</strong> {{Engine}}<span>
            <span><strong>Extras:</strong> {{Extras}}<span>
            <span><strong>Price:</strong> {{Price}}<span>
        </div>
    </div>
{{/each}}-->
