<table>
  <tr class="container">
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Created at</th>
    <th>Modified at</th>
    <th></th>
  </tr>
  {{#each this}}
  <tr class="container" post-id="{{this.Id}}">
    <td>{{this.Title}}</td>
    <td>{{this.Description}}</td>
    <td>{{this.Author}}</td>
    <td>{{this.CreatedAt}}</td>
    <td>{{this.ModifiedAt}}</td>
    <td>
      <a href="#/posts/edit/{{this.Id}}">Edit</a>
      <a href="#/posts/remove/{{this.Id}}">Delete</a>
    </td>
  </div>
  {{/each}}
</table>
