<table class="table-striped">
  <tr class="container">
    <th>Author</th>
    <th>Description</th>
    <th>Title</th>
    <th>Created at</th>
    <th>Modified at</th>
    <th></th>
  </tr>
  {{#each this}}
  <tr class="container">
    <td>{{this.Author}}</td>
    <td>{{this.Description}}</td>
    <td>{{this.Title}}</td>
    <td>{{this.CreatedAt}}</td>
    <td>{{this.ModifiedAt}}</td>
    <td>
      <a id="edit" href="#/settings/{{this.Id}}">Edit</a>
      <a id="delete" href="#/settings/{{this.Id}}">Delete</a>
    </td>
  </div>
  {{/each}}
</table>
